<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\shortage_env\shortage_manquant" />
        <add key="DJANGO_SETTINGS_MODULE" value="ShortageManagement.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="shortage_handeling" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\shortage_env\Scripts\python.exe|C:\shortage_env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
