{% extends "base.html" %}
{% load bootstrap_icons %}
{% block content %}
<div class="row">
        <a href ="{%url 'files_list' %}" >{% bs_icon 'arrow-left' size='2em'  %}</a>
        <div class="col-md-12">
            <div class="card card-shadow" style='overflow:auto;width:100%'>
                <div class="card-header">
                    <h5 class="m-0">File Details {{namefile}}</h5>
                </div>
                <div class="card-body">
                            <table class="table table-hover table-lg table-bordered ">
                                    <thead>
                                        <tr>
                                        <th scope="col">Year</th>
                                        <th scope="col">Week</th>
                                        <th scope="col">Uploaded by</th>
                                        <th scope="col">Uploaded at</th>
                                        <th scope="col" colspan="2">Action</th>
                                        </tr>
                                    </thead>
                                <tbody>
                                    {% for data in data %}
                                    <tr>
                                            <td>{{data.year}}</td>
                                            <td>{{data.week}}</td>
                                            <td>{{data.uploaded_by}}</td>
                                            <td>{{data.uploaded_at}}</td> 
                                            <td >
                                              <button type="button" class="btn btn-primary-outline" data-toggle="tooltip" data-original-title="">
                                                <a href ="{% url 'file_content' data.year data.week namefile%}" data-toggle="tooltip" data-original-title="Show content of file "><i class="fa-regular fa-folder-open"></i></a>
                                              </button>
                                            </td> 
                                            <td>
                                                <!-- <a href ="{% url 'delete_file' data.year data.week namefile%}" data-toggle="tooltip" data-original-title="Delete file" ><i class="fa-regular fa-trash-can"  style="color:red" ></i></a> -->
                                                <button type="button" class="btn btn-danger-outline" data-namefile='{{namefile}}' data-week='{{week}}' data-week='{{year}}'  data-toggle="modal" data-target="#deleteModel">
                                                    <i class="fa-regular fa-trash-can"  style="color:red"></i>
                                                </button>
                                             </td>  
                                        {%empty%}
                                            <tr><td colspan='15' style='text-align:center'>No Data available</td></tr>      
                                        </tr>
                                        {% endfor %}    
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
            <!-- Modal -->
    <!--Modal to delete file -->
    <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href =""  id='deletelink' class="btn btn-danger" >Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script >
    $('#deleteModel').on('show.bs.modal', function (event) {
      var namefile = $(event.relatedTarget).data('namefile');
      var year = $(event.relatedTarget).data('year');
      var week = $(event.relatedTarget).data('week');


      $(this).find(".modal-body").text('Are you sure to delete file number: '+namefile);
      document.getElementById("deletelink").href="/administration/delete_file/"+year+week+namefile; 
    });
  
   $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip({
              placement : 'top'
          });
      });
  </script>    
{%endblock%}