<div class="card card-primary card-outline" style="overflow-x:scroll;overflow-y:scroll;height: 600px !important; ">
    <div class="card-header">
        <div class="card-tools" style="margin-right: -0.8rem;" >
            <li class="list-group-item" style="padding:7px;"><button type="button" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;"><i class="fas fa-expand"></button></i></li>
        </div>
        <h5 class="m-0">SAP Coverage week</h5>
    </div>
    <div class="card-body">
        <canvas id="covred_per_week" ></canvas>

        <script>
            var labels_value = [{% for index,data in status_week.iterrows %} '{{data.missing_status}}', {%endfor%}];
            var data = [{% for index,data in status_week.iterrows %} {{data.id}}, {%endfor%}];
            
            const covred_per_week=new Chart("covred_per_week", {
                type: "bar",
                data: {
                        labels: labels_value,
                        datasets: [
                            {
                            label:'Coverage',
                            backgroundColor:  ['#845EC2','#D65DB1','#FF6F91','#FF9671','#FFC75F','#008F7A','#4E8397','#C34A36'],
                            borderColor:  ['#845EC2','#D65DB1','#FF6F91','#FF9671','#FFC75F','#008F7A','#4E8397','#C34A36'],
                            borderWidth: 1,
                            data:  data
                            },
                            
                        ]
                        },
                options: {
                    plugins: {
                            datalabels: {
                                anchor: 'end',
                                clamp: true,
                                color: 'black',
                                // Format to % 
                            //     formatter: (value, ctx) => {
                            //     let percentage = (value*100).toFixed(2)+"%";
                            //     return percentage;
                            // },
                            },
                            legend: {
                            display: false,
                            position:'right',
                            align:'middle',
                            labels: {
                            usePointStyle: true,
                            boxWidth: 6
                            },
                            },

                            title: {
                                display: false,
                                text: "tile"
                            },
                            
                        },
                        // scales: {
                        //     y: {
                        //         max:1,
                                
                        //         ticks: {
                        //             format: {
                        //                 style: 'percent',
                        //             },
                        //             beginAtZero: true,
                        //             max:100
                        //         }
                        //     }
                        // },
                        responsive: true,
                        maintainAspectRatio:false, 
                }
            });
        </script>
    </div>
</div>